<div class="row top-row">
<!-- Acct settings type of drop down goes here -->
</div> <!-- End of 'top-row' -->

<div class="main-container">
  <div class="meal-container">

    <div class="favorite">
      <i class="fa fa-star-o favorite-star"></i>
    </div>

    <form>
      <div class="group">
        <input type="text" class="meal-name" required>{{ breakfast.name }}</input>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="mealname-label">breakfast name</label>
      </div>

      <div class="small-group">
        <input type="text" class="weblink" required>{{ breakfast.weblink }}</input>
        <label class="weblink-label">web address</label>
      </div>

      <div class="small-group">
        <input type="text text-small" class="cooktime" required>{{ breakfast.cooktime }}</input>
        <label class="cooktime-label">cook time: </label>
      </div>

      <div class="small-group">
        <input type="text text-small" class="mealtype" required>{{ breakfast.timelabel }}</input>
        <label class="mealtype-label">meal type</label>
      </div>
    </form>

    <div class="breakfast-expand-container">
      <a href="#">
        <i class="fa fa-chevron-down expand-arrow"></i>
        <span class="expand">Expand</span>
      </a>
    </div>
  </div><!-- 'breakfast-container' -->
</div><!-- 'main-container' -->
