<div class="navigation">
  <div class="nav-btn-container">
    <ul class="nav nav-pills">
      <li role="presentation" class="nav-list-item"><a href="#home">Home</a></li>
      <li role="presentation" class="nav-list-item"><a href="#recipes">Recipes</a></li>
      <li role="presentation" class="nav-list-item"><a href="#calendar">Calendar</a></li>
      <li role="presentation" class="nav-list-item"><a href="#shopping">Shopping List</a></li>
      <li role="presentation" class="nav-list-item"><a href="#favorites">Favorites</a></li>
    </ul>
  </div> <!-- End of 'nav-btn-container' -->
</div> <!-- End of 'navigation' -->
