<div class="navigation">
  <div class="profile-container">
    <div class="dropdown">
      <button type="button" class="btn btn-default dropdown-toggle account-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Sign out</a></li>
      </ul>
    </div> <!-- End of 'btn-group' -->
  </div> <!-- End of 'profile-container' -->

  <div class="nav-btn-container">
    <ul class="nav nav-pills">
      <li role="presentation" class="nav-list-item"><a href="#home">Home</a></li>
      <li role="presentation" class="nav-list-item"><a href="#recipes">Recipes</a></li>
      <li role="presentation" class="nav-list-item"><a href="#calendar">Calendar</a></li>
      <li role="presentation" class="nav-list-item"><a href="#shopping">Shopping List</a></li>
      <li role="presentation" class="nav-list-item"><a href="#favorites">Favorites</a></li>
    </ul>
  </div> <!-- End of 'nav-btn-container' -->

</div> <!-- End of 'navigation' -->
