html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #f6f6ef !important;
  font-family: 'Open Sans', sans-serif;
}
#nav-section {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #dcdcdc;
}
#nav-section .navigation .nav-btn-container {
  float: left;
}
#nav-section .navigation .profile-container {
  float: right;
}
#nav-section .navigation .profile-container .dropdown {
  margin: 4px;
}
#nav-section .navigation .profile-container .dropdown .account-dropdown {
  background: none;
  border: none;
}
.navigation-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.top-row {
  width: 100%;
  margin: 0;
}
.left-column {
  display: block;
}
.left-column .controls-container .home-controls {
  margin: 12px;
}
.left-column .controls-container .home-controls .row-label-container {
  margin-bottom: 10%;
}
.left-column .controls-container .home-controls .row-label-container .meal-time-row {
  height: 100px;
  width: 300px;
  padding: 20px;
  border: 1px solid #000;
}
@media (max-width: 768px) {
  .left-column {
    display: none;
  }
}
.right-column .meal-content {
  margin: 4% 0;
  height: 75px;
  width: 100px;
  border: 1px solid #000;
}
