html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #f6f6ef !important;
  font-family: 'Open Sans', sans-serif;
}
#nav-section {
  max-height: 42px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #dcdcdc;
}
#nav-section .navigation .nav-btn-container {
  float: left;
}
#nav-section .navigation .profile-container {
  float: right;
}
#nav-section .navigation .profile-container .dropdown {
  margin: 4px;
}
#nav-section .navigation .profile-container .dropdown .account-dropdown {
  background: none;
  border: none;
}
#nav-section .navigation .mini-nav .content-menu {
  padding: 12px;
  font-size: 1.5em;
}
.navigation-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.top-row {
  width: 100%;
  margin: 0;
}
.main-container {
  padding: 24px;
}
.main-container .favorite {
  position: relative;
  float: right;
  z-index: 2;
  padding-left: 20px;
}
.main-container .favorite .favorite-star {
  padding: 6px 6px 0 0;
  font-size: 24px;
}
.main-container .meal-container {
  width: 267px;
  height: 162px;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}
.main-container .meal-container .expand,
.main-container .meal-container .expand-arrow {
  float: right;
}
.main-container .meal-container .expand {
  padding-right: 6px;
}
.main-container .meal-container .expand-arrow {
  padding-top: 1px;
}
.main-container .meal-container .breakfast-expand-container {
  position: relative;
  top: 40px;
  float: right;
  z-index: 10;
  font-size: 10px;
}
.main-container .meal-container .breakfast-expand-container .expand {
  cursor: pointer;
}
#inputFoodModal .favorite {
  position: relative;
  float: right;
  z-index: 2;
  padding: 10px;
}
#inputFoodModal .favorite .favorite-star {
  padding: 6px 6px 0 0;
  font-size: 30px;
}
#inputFoodModal .group {
  position: relative;
  margin-bottom: 8px;
}
#inputFoodModal .group input {
  width: 208px;
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0 0 5px;
  border: none;
}
#inputFoodModal .group input:focus {
  outline: none;
}
#inputFoodModal .group label {
  color: #999;
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 8px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#inputFoodModal .group input:focus ~ label,
#inputFoodModal .group input:valid ~ label {
  top: 24px;
  font-size: 11px;
  color: #5264ae;
  opacity: 0;
}
#inputFoodModal .group .bar {
  width: 208px;
  position: relative;
  display: block;
}
#inputFoodModal .group .bar:before,
#inputFoodModal .group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#inputFoodModal .group .bar:before {
  left: 50%;
}
#inputFoodModal .group .bar:after {
  right: 50%;
}
#inputFoodModal .group input:focus ~ .bar:before,
#inputFoodModal .group input:focus ~ .bar:after {
  width: 50%;
}
#inputFoodModal .group .hightlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
#inputFoodModal .group input:focus ~ .hightlight {
  animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  -webkit-animation: inputHighlighter 0.3s ease;
}
@keyframes inputHightlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHeightlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-webkit-keyframes inputHightlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
#inputFoodModal .small-group {
  position: relative;
  margin-bottom: 0;
}
#inputFoodModal .small-group input {
  width: 253px;
  display: block;
  font-size: 13px;
  padding: 3px 0 5px 5px;
  border: none;
}
#inputFoodModal .small-group input:focus {
  outline: none;
}
#inputFoodModal .small-group label {
  color: #999;
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 0;
  opacity: 1;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#inputFoodModal .small-group input:focus ~ label,
#inputFoodModal .small-group input:valid ~ label {
  opacity: 0;
  top: 0;
  left: 150px;
  font-size: 10px;
  color: #5264ae;
}
.ingredients-list {
  margin-top: 4px;
  padding-top: 10px;
  border-top: 1px solid #dcdcdc;
}
.ingredients-list .subtitle {
  padding: 4px 0;
}
.ingredients-list .small-text {
  font-size: 11px;
}
.notes .notes-input {
  background-color: #efefef;
}
