#nav-section {
  max-height: 42px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #dcdcdc;

  .navigation {

    .nav-btn-container {
      float: left;
      padding: 0 8px;
    }

    .profile-container {
      float: right;
      //padding: 32px;

      .dropdown {
        margin: 4px;

        .account-dropdown {
          background: none;
          border: none;
        }

      }

    }

    .mini-nav {

      .content-menu {
        padding: 12px;
        font-size: 1.5em;
      }
    }
  }
}
