#nav-section {
  height: 56px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #dcdcdc;
  .boxShadows(2);

  .navigation {

    .nav-btn-container {
      float: left;
      padding: 0 @padding-medium;

      .nav {
        margin-top: @padding-normal;

        li > a:hover {
          border-radius: 0;
        }
      }
    }

    .profile-container {
      float: right;
      padding: @padding-normal;

      .dropdown {
        margin: @margin-small;

        .account-dropdown {
          background: none;
          border: none;
        }

      }

    }

    .mini-nav {

      .content-menu {
        padding: @padding-medium;
        font-size: 1.5em;
      }
    }
  }
}
