// Color Scheme
@background: #dcdcdc;

// Text Colors
@primary-text-dark: #000;
@secondary-text-dark: rgba(0, 0, 0, 0.7);
@disabled-text-dark: rgba(0, 0, 0, 0.5);
@divider-dark: rgba(0, 0, 0, 0.12);

// Padding
@padding-small: 4px;
@padding-normal: 8px;
@padding-medium: 12px;
@padding-large: 24px;
@padding-xlarge: 36px;

// Margin
@margin-small: 4px;
@margin-normal: 8px;
@margin-medium: 12px;
@margin-large: 24px;
@margin-xlarge: 36px;
